body{
  font-family: Catamaran,sans-serif;

}
.logo {
    
    height: 26px;
    width: 137px;
}
.benner{
    width: 100%;
    border: 0;
}
/* #owl-demo .item{
    margin: 3px;
  }
  #owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
  } */
   .d-block{
    width: 346px;
    height: 230px;
   }
   .owl-carousel .item {
    /* background: #4CAF50; */
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    /* color: rgb(255, 255, 255); */
    font-size: 18px;
  }
  #text-carousel{
    background-color: #F3F3F3;
  }
  /* .client-img{
    height: 62px;
    width: 220px;
  } */
 
/* styles.css */
.image-container {
  position: relative;
  width: 220px;  /* Fixed container width */
  height: 62px;  /* Fixed container height */
  overflow: hidden;
  cursor: pointer;
}

.image-container img {
  width: 100%;   /* Ensure the image fills the container's width */
  height: 100%;  /* Ensure the image fills the container's height */
  object-fit: contain; /* Retain aspect ratio */
  transition: opacity 0.6s ease;  /* Smooth opacity transition */
}

.footer-row ul li {
  font-size: 14px;
}

/* The front image, visible by default */
.image-front {
  opacity: 1;  /* Front image is fully visible */
}

/* The back image is initially hidden */
.image-back {
  opacity: 0;  /* Initially, the back image is hidden */
  position: absolute;  /* Stack the back image on top of the front image */
  top: 0;
  left: 0;
}

/* Hover effect: hide the front image and show the back image */
.image-container:hover .image-front {
  opacity: 0;  /* Fade out the front image */
}

.image-container:hover .image-back {
  opacity: 1;  /* Fade in the back image */
}
a{
  text-decoration: none;
}

.hr-opacty{
  opacity: 0.1;
}
.btn img{
  height: 16px;
  height: 25px;
}
.message img {
  height: 16px;
  width: 24px;
}
.offcanvas-body div div img{
  width: 100% ;
}
.footer {
  /* background-color: #f8f9fa; */
  color: #6c757d;
  font-size: 10px;
  padding: 10px ;
 
}

.footer a {
  color: #6c757d;
  text-decoration: none;

}

/* .footer a:hover {
  text-decoration: underline;
} */

.footer .social-icons a {
  margin: 0 8px;
}

.footer .social-icons i {
  font-size: 10px;
}
.icon{
width: 20px;
height: 16px;
}
/* .contact{
  font-size: 10px;
} */



  
